<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 
<h:form>

First Name:<h:inputText value= "#{user.firstName}"/> 
Last Name:<h:inputText value= "#{user.lastName}"/>
<h:commandButton id="onflash" value="Flash" action="#{formController.onFlash(user)}">
		</h:commandButton>
<h:commandButton action="#{formController.onSubmit()}" value="Submit" />

</h:form>

</body> 
</html>
